<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <script th:src="@{/jquery/js/jquery.js}"></script>
    <script th:src="@{/ztree/js/mytree.js}"></script>
    <script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/js/jquery.ztree.exedit.js}"></script>
    <link rel="stylesheet" th:href="@{/ztree/css/zTreeStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/ztree/css/demo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/ztree/css/myztree.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.all.js}"></script>

</head>
<body>
<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
</body>
</html>
